version: "3"

services:
	prometheus:
	    image: prom/prometheus
	    container_name: prometheus
	    volumes:
	      - ./prometheus/config:/etc/prometheus
	      - prometheus-data:/prometheus
	    ports:
	      - 9090:9090
	    command:
	      - "--storage.tsdb.path=/prometheus"
	      - "--config.file=/etc/prometheus/prometheus.yml"
	    restart: always
	    networks:
	      - t4y
	
	cadvisor:
	    image: gcr.io/cadvisor/cadvisor
	    container_name: cadvisor
	    ports:
	      - 8080:8080
	    volumes:
	      - /:/rootfs:ro
	      - /var/run:/var/run:rw
	      - /sys:/sys:ro
	      - /var/lib/docker/:/var/lib/docker:ro
	      - /dev/disk/:/dev/disk:ro
	    networks:
	      - t4y

networks:
  t4y:
    driver: bridge
